{% extends 'admin/admin_base.html.twig' %}

{% block title %}Administrator panel{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="text-center">Last posts: </h2>

                {% if posts|length == 0 %}
                    No post found
                {% else %}
                    {% for post in posts %}
                        <div><a href="{{ CONFIG.ROOT }}/posts/viewpost/{{ post.id }}"><p><h3>{{ post.post_title }}</h3></a>
                            <a href="{{ CONFIG.ADMIN_PATH }}/editpost/{{ post.id }}" class="btn btn-xs btn-info">Edit</a>
                            <a href="" data-post-id="{{ post.id }}" class="delete-post btn btn-xs btn-danger">Delete</a>
                            </p>
                            <p>Post id: {{ post.id }} , Published date: {{ post.post_published_date }}</p>
                            <hr></div>
                    {% endfor %}
                {% endif %}
            </div>


            <div class="col-6">
                <h2 class="text-center">Last comments: </h2>
                {% if comments|length == 0 %}
                No comment found
                {% else %}
                {% for comment in comments %}
                <div>
                <p><b>Comment author: </b> {{ comment.comment_author_name }} - {{ comment.comment_author_email }}</p><p><b>Comment id:</b> {{ comment.id }} - <b>Published date:</b> {{ comment.comment_published_date }}</p>
                <p><b>Comment: </b>{{ comment.comment_description }}</p>
                <a href="" data-comment-id="{{ comment.id }}" class="delete-comment btn btn-xs btn-danger">Delete</a><hr></div>
            {% endfor %}
            {% endif %}
            </div>

        </div>
    </div>


{% endblock %}


{% block script %}
<script>
    $(document).ready(function(){
        $('.delete-post').click(function(e){
            e.preventDefault();
            var postid = $(this).attr('data-post-id');
            var parent = $(this).parent("div");
            bootbox.dialog({
                message: "Are you sure you want to delete this post?",
                title: "<i class='glyphicon glyphicon-trash'></i>",
                buttons: {
                    basic: {
                        label: "No",
                        className: "",
                        callback: function() {
                            $('.bootbox').modal('hide');
                        }
                    },
                    danger: {
                        label: "Yes, Delete it!",
                        className: "btn-danger",
                        callback: function() {
                            $.ajax({
                                type: 'POST',
                                url: '{{ CONFIG.ADMIN_PATH }}/deletePost/' + postid
                            })
                                .done(function(){
                                    parent.fadeOut('slow');
                                })
                                .fail(function(){
                                    bootbox.alert('Error! Try again.');
                                })
                        }
                    }
                }
            });
        });
    });

    $(document).ready(function(){
        $('.delete-comment').click(function(e){
            e.preventDefault();
            var commentID = $(this).attr('data-comment-id');
            var parent = $(this).parent("div");
            bootbox.dialog({
                message: "Are you sure you want to delete this comment?",
                title: "<i class='glyphicon glyphicon-trash'></i>",
                buttons: {
                    basic: {
                        label: "No",
                        className: "",
                        callback: function() {
                            $('.bootbox').modal('hide');
                        }
                    },
                    danger: {
                        label: "Yes, Delete it!",
                        className: "btn-danger",
                        callback: function() {
                            $.ajax({
                                type: 'POST',
                                url: '{{ CONFIG.ROOT }}/posts/deleteComment/' + commentID
                            })
                                .done(function(){
                                    parent.fadeOut('slow');
                                })
                                .fail(function(){
                                    bootbox.alert('Error! Try again.');
                                })
                        }
                    }
                }
            });
        });
    });
</script>
{% endblock %}